body{
    display:row;
    font-family: Arial, Helvetica, sans-serif;
}

.wraper {
 display: flex;
 background-color: #EEEBE5;

}

.left_menu{
  /*  float:left;*/
   width: 270px;
   height: 1117px;
   align-self:strech;
   background-color: #000;

}
.left_menu .hov{
position:absolute;
top:12px;
left:73px;
color:#fff;
font-size:24px;
}
.hov:before{
    content: "";
     background-image: url(img/Logo@3x.svg);
     /*background-size: 31px 28px; */
     width: 21px;
     height: 19px;
     background-repeat: no-repeat;
     position: absolute;
     top:3px;
     left:-38px;
    }
.hov:after{
    content: "";
     background-image: url(img/Search@3x.svg);
     background-size: 16px 16px;
     width: 16px;
     height: 16px;
     background-repeat: no-repeat;
     position: absolute;
     left:172px;
     top:5px;
    }


.top{
/*float: left; */
   width:calc(100% - 270px);
   height:136px;
   /*margin-left:270px; */
   background-color: #fff;
}
.content{
/*    position:relative;
    top: -953px;
    left: 485px;*/
    flex-direction: column;
    margin-left:300px;
    margin-top:-960px;
    display: flex;
    float: left;
    width:60%;
    height:500px;
    background-color: red;
}
.bloks{
    width:270px;
    height:80px;
    background-color: #202020;

}
.bloks_black{
    width:270px;
    height:84px;
    background-color: #000;

}

.name{
    position: absolute;
    top:90px;
    left:90px;
    color:#fff;
    font-size: 20px;
}
/*.circle {
    position:relative;
    top: 16px;
    left:30px;
   border-radius: 50%;
   width:48px;
   height:48px;
}*/
.name:before{
    content: "";
     background-image: url(img/22.jpg);
     background-size: 48px 48px;
     background-repeat: no-repeat;position:absolute;
    top: -3px;
    left:-60px;
   border-radius: 50%;
   width:48px;
   height:48px;
}
.name:after{
    content: "";
     background-image: url(img/100.png);
     background-size: 24px 14px;
     background-repeat: no-repeat;position:absolute;
    top: 15px;
    left:145px;
   border-radius: 50%;
   width:24px;
   height:14px;
}
.ident{
    position: absolute;
    top: 120px;
    left:90px;
    color: #7D7D7D;
}
.compl_tasks{
    position: absolute;
    top:184px;
    left:40px;
    color: #7D7D7D;

}
.op_tasks {
    position: absolute;
    top:184px;
    left:154px;
    color: #7D7D7D;
}
.c_tasks{
    position: absolute;
    top:211px;
    left:40px;
    color: #7D7D7D;
    font-size:12px;
}
.o_tasks{
    position: absolute;
    top:211px;
    left:154px;
    color: #7D7D7D;
    font-size:12px;
}
.Menu{
    position: absolute;
    top:259px;
    left:40px;
    color: #7D7D7D;
    font-size:12px;
    text-decoration: none;
    font-size: 14px;
}
.Home{
    position: absolute;
    top:295px;
    left:40px;
    color: #fff;
    font-size:12px;
    text-decoration: none;
    font-size: 14px;
}
.Tasks{
    position: absolute;
    top:333px;
    left:40px;
    color: #fff;
    font-size:12px;
    text-decoration: none;
    font-size: 14px;
}
.Notifications{
position: absolute;
    top:371px;
    left:40px;
    color: #fff;
    font-size:12px;
    text-decoration: none;
    font-size: 14px;
}
.num{
    text-align:center;

    position: absolute;
    top:356px;
    left:130px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    border-radius: 50%;
    width:15px;
    height:15px;
    background-color: #FFC200;
}
.web_hov {
    position:relative;
    top:35ps;
    left:85px;
    color:#000;
    font-size: 30px;
}
.web_hov:before {
   content: "";
     background-image: url(img/Shapes@2x.png);
     background-size: 40px 40px;
     background-repeat: no-repeat;position:absolute;
    top: 0px;
    left:-50px;
    height:40px;
    width:40px;
    background-color: #FFC200;
}
.web_hov:after {
   content: "";
     background-image: url(img/12.png);
     background-size: 38px 40px;
     background-repeat: no-repeat;
     position:absolute;
    top: 0px;
    left:250px;
    height:40px;
    width:36px;
 }
 .tasks_ {
     position:relative;
     top: 0px;
     left: 30px;
     /*padding: 0px 10px;*/

}
.Kanban_{
     position:relative;
     top: -34px;
     left: 80px;
}
.Activity_{
     position:relative;
     top: -68px;
     left: 150px; text-decoration: underline;
}
.Calendar_{
     position:relative;
     top: -102px;
     left: 220px;
}
.Files_{
     position:relative;
     top: -136px;
     left: 290px;
}
.posts_active{
     position:relative;
     left:90px;
     top:70px;
     width:80%;
     height:100px;
     background-color:#ffffff;
}
.posts_active img{
/*    position: relative;
    left:-100px;
    top:-150;*/

}
.img_s{
    position: relative;
    left:-50px;
    top:-60px;
    width: 40px;
    height:40px;
    border-radius:50%;
}
.img_n{
    position: relative;
    left:-100px;
    top:-150;
    width: 100px;
    height:100px;
}

.posts_status{
    /*float:left;*/
    width:100%;
     height:100px;
}

.status{
    position:absolute;
    top: 120px;
    left: 300px;
}
.timer{
position:relative;
top: 60px;
left: 700px;
color:#000;
}
